.cursor, .hand, .cursor-inner {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  animation-timing-function: ease-in-out;
}

.cursor {
  border: 1px solid white;
  background-color: black;
  opacity: .25;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 999;

}

.cursor-inner {
  background-color: white;
  top: 0;
  width: 5px;
  height: 5px;
  z-index: 999;
}
